canvas#canvas-basic
main
  h1 Periodic Table
article.info
  h2
    a#name(href='#')
  p#summary
  ul
    li
      span.bold Discovered by: 
      span#discovered-by
    li
      span.bold Category:
      span#categ
    li
      span.bold Atomic mass:
      span#atomic-mass
    li
      span.bold e- configuration:
      span#config
    li
      span.bold Density:
      span#density
    li
      span.bold Melting Pt.:
      span#melt
    li
      span.bold Boiling Pt.:
      span#boil
